###############################################################################
#  Python bytecode / runtime caches
###############################################################################
__pycache__/
*.py[cod]
*.pyo
*.pyd